<
Program
=====
* 100
{{MultipleShapes}}
/>

<
MultipleShapes
=====
* 80
# Correct loop structure
For({{ForLoopParams}}) {\n
	{{SingleShape}}
}\n
=====
* 5
# For loop: repeat instead of for	
Repeat(10) {\n
	{{SingleShape}}
}\n
=====
* 5
# For loop: armslength
{{SingleShape}}
For({{ForLoopParams}}) {\n
	{{SingleShape}}
}\n
=====
* 2
# For loop: armslength
For({{ForLoopParams}}) {\n
	{{SingleShape}}
}\n
For({{ForLoopParams}}) {\n
	{{SingleShape}}
}\n
=====
* 2
# Turns beforehand for clockwise strategy
# Incorrect: no viable clockwise strategy
{{CWTurnStart}}
{{MultipleShapes}}
=====
* 10
# For loop: no loop
{{SingleShape}}
/>

<
SingleShape
=====
* 5
# Single shape: adds inner loop
Repeat({{RepeatNum}}) {\n
	{{Body}}
}\n
=====
* 100
# Correct structure: no loop
{{Body}}
=====
* 2
# Single shape: adds inner loop
{{Body}}
Repeat({{RepeatNum}}) {\n
	{{Body}}
}\n
=====
* 2
# Single shape: adds inner loop
Repeat({{RepeatNum}}) {\n
	{{Body}}
}\n
Repeat({{RepeatNum}}) {\n
	{{Body}}
}\n
=====
* 2
# Single shape: adds inner loop
For(0,{{RepeatNum}},1) {\n
	{{Body}}
}\n
/>

<
Body
=====
* 100
# Single body (correct)
{{SingleBody}}
=====
* 2
# Repeated body 
{{SingleBody}}
{{Body}}
=====
* 6
# Turn: no turn	
{{Move}}\n
=====
* 1
# Move: no move
{{CWTurn}}
=====
* 6
# Move: no move
{{CCWTurn}}
=====
* 2
# Single shape: body incorrect
{{SingleBody}}
{{ExtraCommand}}
=====
* 2
# Single shape: body incorrect
{{ExtraCommand}}
{{SingleBody}}
/>

<
SingleBody
=====
* 93
# Correctly ordered commands for CCW strategy
{{Move}}
{{CCWTurn}}
=====
* 7
# Incorrectly ordered commands; no viable CW strategy
{{CWTurn}}
{{Move}}
/>

<
ExtraCommand
=====
* 100
{{CWTurn}}
=====
* 100
{{CCWTurn}}
=====
* 100
{{Move}}\n
/>


<
CWTurnStart
=====
* 10
# Correct CW turn start
TurnRight(271) \n
=====
* 100
# Correct CW turn start
TurnLeft(89) \n
=====
* 5
TurnLeft({{VeryRandom}}) \n
/>

<
VeryRandom
=====
* 100
randInt()
/>

<
CWTurn
=====
* 10
# Turn: left/Right confusion
TurnLeft({{TurnAmount}}) \n
=====
* 90
TurnRight({{TurnAmount}}) \n
/>

<
CCWTurn
=====
* 90
TurnLeft({{TurnAmount}}) \n
=====
* 10
# Turn: left/Right confusion
TurnRight({{TurnAmount}}) \n
/>

<
Move
=====
* 100
Move({{MoveAmount}})\n
=====
* 3
# Move: forward/backward confusion
MoveBackwards({{MoveAmount}})\n
/>

<
TurnAmount
=====
* 90
89
=====
* 3
# Turn: wrong constant
randInt(0,88)
=====
* 3
# Turn: wrong constant
randInt(46,360)
/>

<
MoveAmount
=====
* 5
# Move: constant	
100
=====
* 100
i
=====
* 5
# Move: constant	
randInt(1,360)
/>

<
RepeatNum
=====
* 1
# Single shape: wrong iter #
1
=====
* 1
# Single shape: wrong iter #
2
=====
* 2
# Single shape: wrong iter #
3
=====
* 90
# Correct repeat num
4
=====
* 1
# Single shape: wrong iter #
5
=====
* 1
# Single shape: wrong iter #
randInt(6,10)
/>


<
ForLoopParams
=====
* 100
{{StartValue}},{{EndValue}},{{Increment}}
/>

<
StartValue
=====
* 100
15
=====
* 3
# For loop: wrong start
randInt(1,14)
/>

<
EndValue
=====
* 100
# For loop: correct end
300
=====
* 5
# For loop: wrong end
randInt(9,299)
/>

<
Increment
=====
* 3
# For loop: wrong delta
15
=====
* 3
# For loop: wrong delta
1
=====
* 100
2
=====
* 3
# For loop: wrong delta
3
=====
* 1
# For loop: wrong delta
randInt(4,14)
/>


<
Random
=====
* 25
{{Move}}\n
{{Random}}
=====
* 10
TurnLeft({{TurnAmount}}) \n
{{Random}}
=====
* 10
TurnRight({{TurnAmount}}) \n
{{Random}}
=====
* 5
Repeat({{RepeatNum}}) { \n
  {{Random}}
} \n
{{Random}}
=====
* 50
/>
